<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataTable com Pesquisa</title>
    <!-- Inclua o CSS do DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">


</head>
<body>
   
    <h1>Exemplo de DataTable</h1>
    <table id="example" class="display">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>                <td>João</td>     <td>28</td>    <td>São Paulo</td>           </tr>
            <tr>                <td>Maria</td>    <td>22</td>    <td>Rio de Janeiro</td>      </tr>
            <tr>                <td>Carlos</td>   <td>35</td>    <td>Belo Horizonte</td>      </tr>
            <tr>                <td>BRUNA</td>    <td>22</td>    <td>Rio de Janeiro</td>      </tr>
            <tr>                <td>RICARDO</td>    <td>50</td>  <td>PARANA</td>              </tr>

        </tbody>
    </table>

    <br>
    <br>
    <br>
    


</body>
</html>
