<!DOCTYPE html>
<html lang="en">

        <br>
        <!-- <table id="example" class="display"></table>    -->
        {% if nomes_colunas %}
            <table id="example" class="display">
                <thead>    
                    <tr>
                        {% for nm in nomes_colunas %}
                          <th>{{nm}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>   
                    {% for query_result in query_results %}
                    <tr>
                        {% for nm in query_result %}
                            {% if loop.index0!=6 %}
                                <td>{{ nm }}</td>
                            {% else %}
                                <td title="{{'Dados ainda não apurados, favor aguarde' if nm==0 else 'RECOMENDAÇÃO DE COMPRA' if nm==1 else 'RECOMENDAÇÃO DE VENDA'}}" > {{'aguardando resultado..' if nm==0 else '📈' if nm==1 else '📉'}}</td>    
                            {% endif %}    
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhuma criptomoeda disponível.</p>
        {% endif %}
        <br>
</html>
